<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home - Paws Rescue Center</title>
</head>
<body>
  <h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>
    <tr>
      <td><img height="100" ></td>
      <td>Nelly</td>
      <td>5 weeks</td>
      <td>I am a tiny kitten rescued by the good people at Paws Rescue Center. I love squeaky toys and cuddles.</td>
    </tr>
    <tr>
      <td><img height="100" ></td>
      <td>Yuki</td>
      <td>8 months</td>
      <td>I am a handsome gentle-cat. I like to dressup in bow ties.</td>
    </tr>
    <tr>
      <td><img height="100" ></td>
      <td>Basker</td>
      <td>1 year</td>
      <td>I love barking. But, I love my friends more.</td>
    </tr>
    <tr>
      <td><img height="100" ></td>
      <td>Mr. Furrkins</td>
      <td>5 years</td>
      <td>Probably napping.</td>
    </tr>
  </table>
</body>
</html>